@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

@mixin rate-logo($img, $bgColor: $greenColor) {
  background: $bgColor url($img) center no-repeat;
  background-size: 60%;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.info {
  margin: 50px auto 75px auto;
  background-color: $whiteColor;
  display: inline-block;
  padding: 10px;
  color: $greenColor;
  min-width: 200px;
  height: 40px;
  @include border-radius(20px);

  .rate,
  .networkError,
  .loading {
    position: relative;
    padding-left: 30px;

    &:before {
      position: absolute;
      left: -5px;
      top: -5px;
      display: block;
      content: '';
      width: 30px;
      height: 30px;
      transition: transform 0.5s linear;
      @include border-radius(20px);
      @include box-shadow(0, 4px, 20px, 2px, $greenColor);
    }
  }

  .rate.invert:before {
    transform: rotate(180deg);
  }


  .rate:before {
    @include rate-logo("./assets/arrow-up.svg");
  }

  .networkError {
    color: $dangerColor;
    &:before {
      @include rate-logo("./assets/exclamation.svg", $dangerColor);
      @include box-shadow(0, 4px, 20px, 2px, $dangerColor);
    }
  }

  .loading:before {
    @include rate-logo("./assets/loading.svg");
    animation: spinner 3s linear infinite;
  }
}
