$primaryColor: #0f64d9;
$dangerColor: #ff0000;

$darkerGrayColor: #8f9194;
$lightGrayColor: #f3f5f7;
$whiteColor: #ffffff;
$blackColor: #000000;
$yellowColor: #f9ca47;
$greenColor: #009706;

$blockBoxShadow: 0 0 0.25rem rgba(0,0,0,.08), 0 0.5rem 0.75rem rgba(0,0,0,.14);
